@import "src/styles.scss";


.navbar-search{
    @include rounded-border;
    padding: 0px 15px 5px;
    input{
        outline: 0;
        border-width: 0 0 0 0;
        border-color: var(--light-primary);
        background-color: var(--dark-primary);
        width: 300px;
           
    }
    input::placeholder{
        color: var(--light-primary);
    }
    input:focus{
        border-width: 0 0 2px 0;
        // background-color: white;
    }
    
    img{
        width: 48px;
        height: 32px;
        margin-top: 0;
    }
}

